.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@each $name, $value in $headings {
    #{$name} {
        font-size: nth($value, 1);
        line-height: nth($value, 2);
        font-weight: 700;
        user-select: none;
    }
}

@each $name, $value in $typography {
    .#{$name} {
        font-size: nth($value, 1);
        line-height: nth($value, 2);
    }
}
