.event {
    box-sizing: border-box;
    padding: 8px;user-select: none;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 16px;
        border-bottom: 1px solid green;
    }
    &__img {
        height: auto;
        width: 100%;
    }
    &__venue {
        margin: 16px 0;
    }
}

.event-date-time {
    display: flex;
    align-items: center;
}

.event-date {
    @include eventDateTime;
    margin-right: 8px;
    width: 48px;
}

.event-time {
    @include eventDateTime;
    flex: 1 0 auto;
}

.event-tickets {
    color: $darkGreen;
    text-decoration: none;
    user-select: none;
}
