.follow-us {
    background-color: red;
    &__wrap {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.follow-us-boxes {
    display: flex;
    &__links {
        box-sizing: border-box;
        border: 1px solid white;
        height: 75px;
        width: 75px;
    }
}
