.header-social {
	align-items: center;
	display: inline-flex;
	margin-left: auto;
	&__title {
		color: $teal;
	}
}

.header-social-networks {
	line-height: 0;
	&__link {
		margin: 0 auto;
		opacity: 0.8;
		display: inline-block;
		transition: all 280ms ease-in;
		& > img {
			height: 20px;
			width: auto;
		}
		&:hover {
			opacity: 1;
		}
	}
}
