@mixin eventDateTime {
    background-color: $accent-color-1;
    box-sizing: border-box;
    height: 48px;
    padding: 4px;
}

// Button setup mixin

// Breakpoint mixin to generate media queries
// @param '$name': use value from breakpoint map
@mixin breakpoint($name) {
    @if not map-has-key($breakpoints, $name) {
      @warn "Warning: `#{$name}` is not a valid breakpoint name.";
    } @else {
      @media screen and (min-width: map-get($breakpoints, $name)) {
        @content;
      }
    }
  }

  @mixin containerwidths($name) {
    @if not map-has-key($breakpoints, $name) {
        @warn "Warning: `#{$name}` is not a valid breakpoint name.";
    } @else {
        width: map-get($breakpoints, $name);
        @content;
    }
}
