// Heading sizes H1 - H6
// @arg1: font-size
// @arg2: line-height
$headings: (
	h1: (48px, 1.2, 1.5rem, 1rem),
	h2: (30px, 1.2, 1.2rem, 1rem),
	h3: (24px, 1.2, .8rem, .5rem),
	h4: (18px, 1.2, .6rem, .5rem),
	h5: (16px, 1.2, .5rem, .5rem),
	h6: (14px, 1.2, .4rem, .5rem)
);

// Basic typography
// @arg1: font-size
// @arg2: line-height
$typography: (
	main-text: (16px, 1.5),
	secondary-text: (14px, 1.2),
	small-text: (12px, 1.2)
);

$basicFontSize: 16px;
$defaultBorderRadius: 4px;

// Button styles

// Layers, z-index oreder of elements
// Use: z-index: layer(param);
$layer: (

);

// Breakpooints to use in 
// media-query mixins
$breakpoints: (
	extra-small: 320px,
	small: 460px,
	medium: 640px,
	medium-large: 768px,
	large: 960px,
	wide: 1200px
);
