// Heading sizes H1 - H6
// @arg1: font-size
// @arg2: line-height

$headings: (
	h1: (48px, 1.2),
	h2: (30px, 1.2),
	h3: (24px, 1.2),
	h4: (18px, 1.2),
	h5: (16px, 1.2),
	h6: (14px, 1.2)
);

// Basic typography
// @arg1: font-size
// @arg2: line-height
$typography: (
	main-text: (16px, 1.5),
	secondary-text: (14px, 1.2),
	small-text: (12px, 1.2)
);

$basicFontSize: 16px;
