// Color scheme

$darkGray: #333;
$red: #ff0000;
$electricBlue: #00bfff;
$white: #ffffff;
$yellow: #ffd700;
$orange: #ff8c00;
$darkGreen: #006400;

$mainBackground: $darkGray;
$mainText: $darkGray;
$secondaryText: $white

// Secondary color Scheme
