// Color Scheme
$darkGray: #060606;		// Darker Gray
$lightGray: #bfbfbf; 		// Light Gray
$coral: #ff5a5f;			// Coral
$teal: #00b2b2;	        // Teal
$white: #ffffff;			// White
$yellow: #ffd700;			// Yellow
$orange: #f5a623;			// Orange
$darkGreen: #006400;		// Dark Green

// Color assigments
$primary-color: $darkGray;      // Darker gray
$secondary-color: $lightGray;   // Light gray
$accent-color-1: $coral;        // Coral
$accent-color-2: $teal;         // Teal
$accent-color-3: $orange;       // Orange

// Text Colors
$mainText: $white;
$secondaryText: $lightGray;
$menuItemText: $orange;

// Background Colors
$mainBackground: $primary-color;
$scrollToTop: $orange;
